practice_labs/XML_library-task/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="title" type="xs:string" use="required"/>
                        <xs:attribute name="author" type="xs:string" use="required"/>
                        <xs:attribute name="year" type="xs:positiveInteger" use="required"/>
                        <xs:attribute name="category" type="xs:string" use="required"/>
                        <xs:attribute name="price" type="xs:decimal" use="required"/>
                        <xs:attribute name="total" type="xs:positiveInteger" use="required"/>
                        <xs:attribute name="available" type="xs:nonNegativeInteger" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>